body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    background-color: #FFF;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {}

.header-navigation {}

.header-logo {
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.header-logo-blue {
    color: #4D5AE5;
}

.header-menu {}

.header-item {}

.header-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.search {}

.search-menu {}

.search-item {}

.search-info {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.headline {
    background-color: #2E2F42;
}

.headline-slogan {
    color: #FFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
}

.headline-btn {
    color: #FFF;
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
}

.title {}

.title-lead {}

.title-list {}

.title-item {}

.title-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.title-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.caption {}

.caption-lead {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.caption-list {}

.caption-item {}

.caption-pic {}

.caption-subtitle {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.caption-text {
    color: #434455;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.subject {}

.subject-lead {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.subject-list {}

.subject-item {}

.subject-pic {}

.subject-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.20;
        letter-spacing: 0.02em;
}

.subject-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}